<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="never">
    <link rel="stylesheet" href="./static/stylesheets/style.css">
    <link rel="shortcut icon" href="./static/images/favicon.ico" type="image/x-icon">
    <!--<script src="./static/javascripts/download.js"></script>-->
    <script>
        $(document).ready(function(){
            let seachTxt = window.location.href.split("=");
            //解码url
            seachTxt = decodeURI(seachTxt [1]); //decodeURI解码
            console.log(seachTxt)
            $("#video_url").attr('value',seachTxt)
        });
    </script>
    <title>TikTokWeb</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
    <div id="tk">
        <div>
            <h1>TikTokWeb</h1>
            <blockquote>
                <p><em>输入长短链点击处理试试吧！</em></p>
            </blockquote>

            <div class="input-group input-group-lg" style="padding-bottom: 50px;">
                <input type="text" class="form-control link-input" name="请输入链接" value="请输入链接" id="video_url">
                    <div class="input-group-btn">
                        <div class="btn-clear" id="btn-clear"></div>
                        <button class="btn btn-default" type="button" value="处理" id="get">解析视频</button>
                    </div>
            </div>

            <script>

            </script>
        </div>
    </div>


    <div id="video-info">
        <span>
            <table width="100%">
                <tr align="center">
                    <td>
                        <div class="video_play">
                            <!--
                            <video id="play" preload="auto" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/396624/err.mp4" autoplay muted loop></video>
                            -->
                            <video controls autoplay width="100%" controls="controls" id="play" preload="auto" type="video/mp4" webkit-playsinline="true" playsinline="" x5-video-player-type="h5" x5-video-player-fullscreen="portraint">
                                <source src="" type="video/mp4">
                            </video>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="desc"></span>
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        <button id="download">
                            下载
                        </button>
                    </td>
                </tr>
            </table>
        </span>
    </div>
</div>
</div>
</div>
<script>
    $("#get").click(function(){
        let url = $('#video_url').val()
        alert(url)
        if (!url){
            alert("空链接");
            return 0;
        }
        let regexp = /((http|https):\/\/([\w\-]+\.)+[\w\-]+(\/[\w\u4e00-\u9fa5\-\.\/?\@\%\!\&=\+\~\:\#\;\,]*)?)/ig;
        // let urlReg = /(http:\/\/|https:\/\/)((\w|=|\?|\.|\/|&|-)+)/g //第二种
        let this_url = url.match(regexp)
        if(this_url === ''){
            alert('请填写正确分享链接或内容');
            return 0;
        }
        window.location.href = "/api?url=" + this_url;
        // $('#get').attr('disabled', '');
    });
/*
    $("#get").click(function(){
        let searchWord = $("#video_url").val();
        if (!searchWord) alert("空链接")
            getID (searchWord).then(function(datas){
            getInfo (datas).then(function(data) {
                desc = data['item_list'][0]['desc']
                author = data['item_list'][0]['author']['nickname']
                play = data['item_list'][0]['video']['play_addr']['url_list'][0]
                alert(desc);
            }, function(status) {
                alert(status + '访问失败');
            })
        }, function(status) {//不是单一视频链接
            getUID(searchWord).then(function(uid){
            }, function(status) {
                alert(status + '链接错误')
            })
        })
    });
*/
</script>
</body>
</html>