<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(╯°□°)╯︵ ┻━┻</title>
    <link rel="stylesheet" href="/static/stylesheets/404.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <section class="error-body">
        <video preload="auto" class="background" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/396624/err.mp4" autoplay muted loop></video>
        <div class="message">
            <h1 t="404">404</h1>
            <div class="bottom">
                <p>走丢啦   这不是你该来的地方</p>
                <a href="../">返回主页</a>
            </div>
        </div>
    </section>
</body>
</html>