doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    link(rel="shortcut icon", href="/static/images/favicon.ico", type="image/x-icon")
  body
    block content
